*.zip
data/train/
data/val/
data/test/
utils/coco_manager/annotations/instances_train2017.json
utils/coco_manager/annotations/instances_val2017.json
pFD/
__pycache__/
yolov7-fork-o/
yolov7-fork-p/
*.pt
*.onnx